h3{
    font-size: 25px !important;
    color: rgb(255, 255, 255) !important;
}
canvas{
    border: 5px rgb(228, 127, 155) solid;
    border-radius: 150px;
}
body{
    background-size: cover;
}